<!DOCTYPE html>
<html class="no-js" lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8JMVGDHQTB"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7365457617485825" crossorigin="anonymous"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-8JMVGDHQTB');
  </script>

  <meta charset="UTF-8">
  <title>Blog</title>
  <meta name="description" content="Notes on Programming.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="{{owner}}/{{repo}}">
  <meta property="og:description" content="Notes on Programming.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://github.com/{{owner}}/{{repo}}/issues/">
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/28992410?v=4">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@taroosg" />

  <link rel="apple-touch-icon" href="favicon.png">
  <link rel="icon" href="favicon.png">

  <link rel="stylesheet" href="css/main.css">
  <!-- Fontawsome -->
  <script src="js/01f767a9a9.js" crossorigin="anonymous"></script>
  <style>
    body {
      padding: 1rem;
      max-width: 960px;
      margin: 0 auto;
    }

    main>hgroup>p>i {
      padding-left: 0.5em;
      padding-right: 0.3em;
    }

    header>nav>ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      padding: 0;
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="/" aria-label="Link to top page.">
            <i class="fa-solid fa-home"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/taroosg" target="_blank" aria-label="Link to Twitter page.">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/taroosg" target="_blank" aria-label="Link to GitHub page.">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/taroosg/blog/issues" target="_blank" aria-label="Link to Issue page.">
            <i class="fa-solid fa-gear"></i>
          </a>
      </ul>
    </nav>
    <hgroup>
      <h1>Blog</h1>
      <p>Notes on Programming.</p>
    </hgroup>
  </header>

  <main>
    {{#data}}
    <hgroup>
      <h2><a href="posts/{{id}}.html">{{title}}</a></h2>
      <p>
        <i class="fa-regular fa-calendar-days"></i>{{updated_at_short}}
        {{#labels}}
        <i class="fa-solid fa-tag"></i>{{name}}
        {{/labels}}
      </p>
    </hgroup>
    {{/data}}
  </main>

</body>

</html>